@media only screen and (max-width: 1000px) {
  .imagesStyles {
    height: 200.15px;
    width: 100%;
  }
  .imageDiv {
    width: 90%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
  }
   .firstPageBtn{
     margin: 5px;
    
  }
  .category {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Roboto;

    background-color: #f47c7c;

    margin-top: 5%;
    padding: 2%;
    text-align: center;
    color: white;
  }

  .boxHeading {
    padding-top: 1%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
  }

  .dateDiv {
    align-items: center;
  }
  .paraP {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    margin-top: 3%;
    font-size: 16px;

    line-height: 26px;
  }
  .mainTop {
    width: 100%;
    display: flex;

    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageBox {
    display: none;
  }
    .pageButtonStyle{
       display: flex;
          flex-wrap: wrap;
         
    margin-bottom: 40px;
        margin-top: 30px;
        justify-content: center;
  }
}
@media only screen and (min-width: 1001px) {
  .category {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Roboto;
    padding:2%;

    background-color: #f47c7c;

    width:70%;
    text-align: left;
    color: white;
  }

  .boxHeading {
    padding-top: 1%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
  }

  .dateDiv {
    align-items: center;
  }
  .paraP {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    margin-top: 3%;
    font-size: 16px;

    line-height: 26px;
  }
  .mainTop {
    width: 100%;
    display: flex;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageBox {
    display: flex;
    width: 90%;
     justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 30px;
    height: 500px;
  }
  
  .imageDiv {
    width: 90%;
   
    margin-bottom: 20px;
    display: flex;

    cursor: pointer;
    margin-top: 20px;
  }
  
    .imagesStyles {
    height: 144.15px;
    width:313px;
   
  }
  
  .contentDiv{

    
    width:50%;
    padding-left:20px;
     border-bottom: 1px solid black;
  }
  .pageButtonStyle{
       display: flex;
      
       width:100%;
          flex-wrap: wrap;
          
        margin-bottom: 40px;
        margin-top: 30px;
        
  }
  .firstPageBtn{
     margin: 5px;
    margin-left: 25%;
  }
  .topBigImg:hover{

  transform: scale(1.05);
  cursor: pointer;

  }
  
}
